<app-header title="Panel Admin" menuId="admin-menu"></app-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <p class="admin-subtitle">Seleccionar aula</p>

    <div class="barra-superior">
      <ion-select [(ngModel)]="filtroNivel" (ionChange)="filtrar()" interface="popover" placeholder="Seleciona nivel">       
          <ion-select-option value="Todos">Todos</ion-select-option>
          <ion-select-option value="Inicial">Inicial</ion-select-option>
          <ion-select-option value="Primaria">Primaria</ion-select-option>
          <ion-select-option value="Secundaria">Secundaria</ion-select-option>
      </ion-select>
    </div>
    
    <div class="aulas-grid">
      <div class="aula-card" 
      *ngFor="let aula of aulasFiltradas"
       (click)="abrirRegistro(aula.nivel, aula.grado, aula.seccion)">
        <h3>{{ aula.nombreAula }}</h3>
        <div class="etiquetas">
          <span class="nivel">{{ aula.nivel }}</span>
          <span class="tipo">{{ aula.tipoAula }}</span>
          <span *ngIf="aula.grado">{{ aula.grado }}</span>
          <span *ngIf="aula.seccion">{{ aula.seccion }}</span>
        </div>

        <div class="detalles">
          <p>Piso {{ aula.piso || '-' }}</p>
          <p *ngIf="aula.muebles?.length">{{ aula.muebles.length }} muebles registrados</p>
        </div>

      </div>
    </div>
</ion-content>


<app-custom-tabs [config]="tabsConfig"></app-custom-tabs>