ion-content {
  --background: #ffffff;
}

.nivel-btn {
  --border-radius: 12px;
  --color: #000;
  font-weight: 600;
  margin-top: 8px;
}

.grado-btn {
  --border-radius: 10px;
  margin-top: 6px;
  --color: #000;
  font-weight: 500;
  text-transform: none;
}
.secciones-container{
  // background: #f7ebcd;
  --color: #000000 !important;
  --border-style:none;
}
.ion-color-light {
    --ion-color-base: #f5e85c !important;
}

.grados-container {
  padding-left: 8px;
}
.button-outline{
  background: #f3ff89 !important;
  color: #000 !important;
  --border-style:none !important;
}

 ion-select {
    min-width: 160px;
    --background: #f9f9f9;
    border-radius: 10px;
    height: 40px;
  }
.barra-superior {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.aulas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}

.aula-card {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }

  .etiquetas span {
    background: #e6f0ff;
    border-radius: 8px;
    padding: 3px 8px;
    font-size: 12px;
    margin-right: 4px;
  }

  .tipo {
    background: #ffe8c5;
  }

  .detalles {
    font-size: 13px;
    color: #555;
    margin-top: 10px;
  }

  .acciones {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 8px;

    ion-icon {
      font-size: 20px;
      color: #666;
    }
  }

}