<ion-menu side="start" menuId="padre-menu" contentId="padre-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menú Padre</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item button routerLink="/padre/inicio" routerDirection="root">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      
      <ion-item button routerLink="/padre/hijos" routerDirection="root">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Mis Hijos</ion-label>
      </ion-item>
      
      <ion-item button routerLink="/padre/notificaciones" routerDirection="root">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-item>
      
      <ion-item button routerLink="/padre/perfil" routerDirection="root">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
      </ion-item>
      
      <ion-item button (click)="signOut()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-app>
  <ion-router-outlet id="padre-content"></ion-router-outlet>
</ion-app>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1 class="greeting">Hola, Sofia!</h1>
    <p class="children-title">Mis Hijos</p>

    <ion-card class="child-card">
      <ion-card-content>
        <div class="child-info">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Child Avatar" class="child-avatar">
          <div class="child-details">
            <ion-card-title>Rafaela Lopez</ion-card-title>
            <ion-card-subtitle>3º Primaria - C</ion-card-subtitle>
            <p class="items-delivered">Items entregados - 4/4</p>
            <div class="progress-bar-container">
              <div class="progress-bar" style="width: 100%;"></div>
            </div>
          </div>
        </div>
        <ion-button expand="block" class="view-materials-button" routerLink="/padre/ver-materiales/1">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          Ver los materiales
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="child-card">
      <ion-card-content>
        <div class="child-info">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Child Avatar" class="child-avatar">
          <div class="child-details">
            <ion-card-title>Carlos Lopez</ion-card-title>
            <ion-card-subtitle>5º Inicial - A</ion-card-subtitle>
            <p class="items-delivered">Items entregados - 1/4</p>
            <div class="progress-bar-container">
              <div class="progress-bar" style="width: 25%;"></div>
            </div>
          </div>
        </div>
        <ion-button expand="block" class="view-materials-button" routerLink="/padre/ver-materiales/2">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          Ver los materiales
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="inicio" routerLink="/padre/inicio" routerDirection="root">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notificaciones" routerLink="/padre/notificaciones" routerDirection="root">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="perfil" routerLink="/padre/perfil" routerDirection="root">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
