<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inspeccion-aula"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de inspección</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" [fullscreen]="true">
  <h2 class="seccion-titulo">Recursos</h2>

  <ion-card class="recurso-card" *ngFor="let mueble of muebles || []">
    <ion-card-header>
      <ion-card-title>{{ mueble.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- grupo de radios: asegura solo 1 seleccionado por recurso -->
      <ion-radio-group [(ngModel)]="mueble.estado">
        <div
          *ngFor="let e of estados"
          class="estado-item"
          [class.seleccionado]="mueble.estado === e.value"
          (click)="mueble.estado = e.value"
        >
          <ion-radio [value]="e.value"></ion-radio>
          <ion-label>{{ e.label }}</ion-label>
        </div>
      </ion-radio-group>

      <!-- mostrar inputs solo si no está en buen estado -->
      <div *ngIf="mueble.estado === 'faltante' || mueble.estado === 'danado'" class="detalles">
        <ion-item>
          <ion-input placeholder="Motivo de la falta / daño" [(ngModel)]="mueble.motivo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Observación" [(ngModel)]="mueble.observacion"></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

    <ion-text *ngIf="muebles?.length === 0" color="medium">
    <p class="ion-text-center">No hay muebles registrados para este grado y nivel.</p>
  </ion-text>

  <ion-button expand="full" class="guardar-btn" (click)="guardarInspeccion()">Guardar inspección</ion-button>


</ion-content>
