ion-content {
  --background: #ffffff;
  padding: 15px;
}

.container {
  padding: 20px;
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.campo {
  margin-bottom: 15px;

  label {
    font-weight: 600;
    color: #000;
    display: block;
    margin-bottom: 6px;
  }

  ion-input,
  ion-select {
    --background: #f4f4f4;
    --padding-start: 10px;
    border-radius: 8px;
    height: 45px;
  }
}

.fila {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  .columna {
    width: 48%;

    label {
      font-weight: 600;
      margin-bottom: 5px;
      display: block;
    }

    ion-select {
      --background: #f4f4f4;
      border-radius: 8px;
      height: 45px;
    }
  }
}

.tarjeta {
  background-color: #ffe466;
  border-radius: 15px;
  padding: 15px;
  margin-top: 20px;

  .tarjeta-header h3 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .muebles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    h4 {
      font-weight: 600;
      margin: 0;
    }

    ion-button {
      --border-radius: 10px;
      font-size: 12px;
      height: 28px;
    }
  }

  .mueble {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  background: #ffff;
  margin-bottom: 10px;
  border-radius: 5px;

    label {
      font-weight: 600;
      font-size: 13px;
      margin-top: 20px;
    }

    .valor {
      background: #f2f2f2;
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 13px;
      margin-top: 6px;
    }

    .estado {
      font-weight: bold;
      color: #4b4b4b;
    }
  }
}

.btn-crear {
  margin-top: 25px;
  --border-radius: 20px;
  font-weight: bold;
}


.btn-eliminar {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
  line-height: 16px;
}

.mueblelabel{
  margin-top: 12px;
}

.error {
  color: red;
  font-size: 13px;
}