<ion-menu side="start" menuId="padre-menu" contentId="padre-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menú Padre</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item button routerLink="/padre/inicio" routerDirection="root">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      
      <ion-item button routerLink="/padre/hijos" routerDirection="root">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Mis Hijos</ion-label>
      </ion-item>
      
      <ion-item button routerLink="/padre/notificaciones" routerDirection="root">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-item>
      
      <ion-item button routerLink="/padre/perfil" routerDirection="root">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
      </ion-item>
      
      <ion-item button (click)="signOut()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-app>
  <ion-router-outlet id="padre-content"></ion-router-outlet>
</ion-app>

<app-header title="Notificaciones" menuId="padre-menu"></app-header>

<ion-content [fullscreen]="true" class="padre-content" id="padre-content">
  <ion-card>
    <ion-card-content>
      <div class="notification-icon-container">
        <ion-icon name="close-circle"></ion-icon>
      </div>
      <div class="notification-details">
        <div class="notification-title">Material faltante: Regla 30 cm</div>
        <p>Dirígete a dirección para entregar el material que falta de la lista de Carlos</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="notification-icon-container">
        <ion-icon name="close-circle"></ion-icon>
      </div>
      <div class="notification-details">
        <div class="notification-title">Material faltante: Cuaderno rojo A4</div>
        <p>Dirígete a dirección para entregar el material que falta de la lista de Carlos</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Componente de tabs personalizado para padre -->
<app-custom-tabs [config]="tabsConfig"></app-custom-tabs>
