
<app-header title="Notificaciones" menuId="padre-menu"></app-header>

<ion-content [fullscreen]="true" class="padre-content" id="padre-content">
  <ion-card>
    <ion-card-content>
      <div class="notification-icon-container">
        <ion-icon name="close-circle"></ion-icon>
      </div>
      <div class="notification-details">
        <div class="notification-title">Material faltante: Regla 30 cm</div>
        <p>Dirígete a dirección para entregar el material que falta de la lista de Carlos</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="notification-icon-container">
        <ion-icon name="close-circle"></ion-icon>
      </div>
      <div class="notification-details">
        <div class="notification-title">Material faltante: Cuaderno rojo A4</div>
        <p>Dirígete a dirección para entregar el material que falta de la lista de Carlos</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Componente de tabs personalizado para padre -->
<app-custom-tabs [config]="tabsConfig"></app-custom-tabs>
