<app-header title="Aulas" menuId="admin-menu"></app-header>

<ion-content>
  <div class="container">

    <div class="barra-superior">
   
      <ion-select [(ngModel)]="filtroTipo" (ionChange)="filtrar()" interface="popover">
        <ion-select-option value="Todos">Todos los tipos</ion-select-option>
        <ion-select-option value="General">General</ion-select-option>
        <ion-select-option value="Computación">Computación</ion-select-option>
        <ion-select-option value="Laboratorio">Laboratorio</ion-select-option>
        <ion-select-option value="Secretaría">Secretaría</ion-select-option>
      </ion-select>

      <ion-button color="primary" (click)="irCrear()"> +Nuevo</ion-button>
    </div>

    <div class="aulas-grid">
      <div class="aula-card" *ngFor="let aula of aulasFiltradas">
        <h3>{{ aula.nombreAula }}</h3>
        <div class="etiquetas">
          <span class="nivel">{{ aula.nivel }}</span>
          <span class="tipo">{{ aula.tipoAula }}</span>
          <span *ngIf="aula.grado">{{ aula.grado }}</span>
          <span *ngIf="aula.seccion">{{ aula.seccion }}</span>
        </div>

        <div class="detalles">
          <p>Piso {{ aula.piso || '-' }}</p>
          <p *ngIf="aula.muebles?.length">{{ aula.muebles.length }} muebles registrados</p>
        </div>

        <div class="acciones">        
           <ion-button fill="outline" size="small" (click)="editarAula(aula)" class="action-btn">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            Editar
          </ion-button>
             <ion-button fill="outline" size="small" (click)="eliminarAula(aula)" class="action-btn delete-btn">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Eliminar
          </ion-button>
          
        </div>
      </div>
    </div>

  </div>
</ion-content>


<!-- Componente de tabs personalizado para admin -->
<app-custom-tabs [config]="tabsConfig"></app-custom-tabs>